{% if message %}

    {{ message }}

{% endif %}

<img src="{{ user.picture }}" width="100" alt="">
<h1>Hello, {{ user.name }} ({{ user.nickname }})</h1>
<h3>ID : {{ user.user_id }}</h3>
<a href="{{ logout_link }}">Log Out</a>
<hr>
<p>{{ time }}</p>
<p>{{ ip }}</p>