{% if message %}

    {{ message }}

{% endif %}


<h1>Hello, {{ name }}</h1>
<hr>
<p>There are : {{ user }} accounts registered !</p>
<hr>
<p>{{ time }}</p>
<p>{{ ip }}</p>
<p>{{ csrf_name }} : {{ csrf_value }}</p>
<p>{{ random }}</p>
<p>{{ PUBLIC_DIR }}</p>